/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet');


:root {
  line-height: 1.5;

  background-color: #494b85;
  color: #494b85;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}


a {
  font-weight: 500;
  color: #FFFFFF;
}
a:hover {
  color: #F59E0B;
}


body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 70%;
}


p {
  font-size: 1.5em;
  padding-left: 1.75em;
  padding-right: 1em;
  overflow-wrap: break-word;
}
ul {
  font-size: 1.5em;
  padding-left: 3em;
  padding-right: 1em;
  overflow-wrap: break-word;
}

h1 {
  font-family: "Ancizar Serif", serif;
  font-size: 5em;
  line-height: 1.1;
  color: #FFFFFF;
  margin-bottom: -0.25em;
}
h2 {
  font-size: 4em;
  color: #F59E0B;
  font-weight: 800;
}
h3, .projects a {
  font-size: 2.3em;
  padding-left: 1em;
  margin-bottom: -0.5em;
  color: #494b85;
  font-weight: 800;
  margin-top: 2em;
}
.projects h2 {
  margin-bottom: 2em;
  padding-bottom: 100em;

  color: #FFFFFF;

}
img {
  object-fit: cover;
}


.aboutMe,
.experience,
.projectDiv {
  padding: 1em;
  transition: transform 0.4s ease;
}

.projects, .myImgDiv, .contactLinks {
  display: flex;
  flex-direction: row;
}

.projectDiv, .aboutMe, .experience {
  margin-bottom: 5em;
}


/* Profile */
.name {
  color: #FFFFFF;
}
.contactLinks {
  justify-content: center;
  font-family: "Ancizar Serif", serif;
  font-size:2em;
  color: #FFFFFF;
  padding-bottom: 1.5em;
}
.contactLinks a {
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.myImgDiv {
  justify-content: center;
  align-items: center;
  padding-bottom: 20em;
}
.myImgDiv img {
  color: #ffffff;
  border-style: solid;
  border-width: 8px;
  margin: 30px;
}
.myImg {
  width: 400px;
  height: 400px;
  border-radius: 5000px;
}
.smallImg {
  width: 250px;
  height: 250px;
  border-radius: 5000px;
}
.roll {
  animation: spin 1s linear infinite;
}

/* About Me */
.aboutMe {
  background-color: #EDE9FE;
  border-radius: 50px;
}
.aboutMe p {
  font-size: 2em;
}

/* Experience */
.experience {
  background-color: #F9FAFB;
  border-radius: 50px;
}
.experienceItem {
  text-align: left;
}


/* Projects */
.projectDiv {
  background-color: #EDE9FE;
  border-radius: 50px;
}
.projects img {
  width: 375px;
  height: auto;
  text-align: left;
  padding: 20px;
}






