/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet');


:root {
  line-height: 1.5;

  background-color: #273d5c;
  color: #494b85;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  --animation-time: 2s;
}

.container {
  max-width: 1100px;
}

a {
  font-weight: 500;
  color: #FFFFFF;
}
a:hover {
  color: #F59E0B;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 60%;
}
p {
  font-size: 1.5em;
  padding-left: 1.75em;
  padding-right: 1.75em;
  overflow-wrap: break-word;
}
ul {
  font-size: 1.5em;
  padding-left: 3em;
  padding-right: 1em;
  overflow-wrap: break-word;
}

h1 {
  font-family: "Ancizar Serif", serif;
  font-size: 5em;
  line-height: 1.1;
  color: #FFFFFF;
  margin-bottom: 0.04em;
}
h2 {
  font-size: 4em;
  color: #F59E0B;
  font-weight: 800;
  margin-top: 0.25em;
}
h3, .projects a {
  font-size: 2.3em;
  margin-bottom: -0.5em;
  color: #494b85;
  font-weight: 800;
  margin-top: 2em;
  overflow: auto;
  white-space: nowrap;
}
.projects h2 {
  margin-bottom: 2em;
  color: #FFFFFF;
}
img {
  object-fit: cover;
}

.aboutMe, .experience, .projectDiv, .contactMeDiv {
  padding: 2em;
  transition: transform 0.4s ease;
  margin-bottom: 5em;
  background-color: #EDE9FE;
  border-radius: 50px;
}
.projects, .myImgDiv, .contactLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
}

/* Profile */
.contactLinks {
  justify-content: center;
  font-family: "Ancizar Serif", serif;
  font-size:2em;
  color: #FFFFFF;
  padding-bottom: 1.5em;
}
.myImgDiv {
  justify-content: center;
  align-items: center;
  padding-bottom: 10em;
}
.myImgDiv img {
  color: #FFFFFF;
  border-style: solid;
  border-width: 8px;
  margin: 30px;
}
.myImg {
  width: 350px;
  height: 350px;
  border-radius: 5000px;
}
.smallImg {
  width: 225px;
  height: 225px;
  border-radius: 5000px;
}
.roll {
  animation: spin 1s linear infinite;
}

/* Sparkles */
@keyframes sparkleFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;

  }
}
.sparkles {
  font-size: 30px;
  color: #FFFFFF;
  z-index: 1;
  padding: 0px;
  margin: 0px;
  pointer-events: none;
  animation: sparkleFade 3s ease-in-out;
  transform-origin: center center;
}

/* About Me */
.aboutMe p {
  font-size: 2em;
  margin-left: -0.9em;
  margin-right: -0.9em;
}

/* Experience */
.experience {
  padding-bottom: 3em;
}
.experienceItem {
  text-align: left;
  padding-left: 3em;
  padding-right: 3em;
}



/* Projects */
.projects img {
  width: 30em;
  height: 30em;
  text-align: left;
  padding: 20px;
  border-radius: 30px;
  object-fit: cover;
}

/* Contact Me */
.emailLink {
  text-decoration: none;
  color: #F59E0B;
  font-weight: 800;

;}